:root[data-theme="dark"] {
  --color-background: #09090f;
  --color-surface: #18181b;
  --color-surface-light: #27272a;

  --color-text: #ffffff;
  --color-text-secondary: #a1a1aa;

  --color-border: #3f3f46;
}

:root[data-theme="light"] {
  --color-background: #f4f4f5;
  --color-surface: #ffffff;
  --color-surface-light: #f1f5f9;

  --color-text: #18181b;
  --color-text-secondary: #52525b;

  --color-border: #d4d4d8;
}
