:root {
  --color-background: #09090f;
  --color-surface: #18181b;
  --color-surface-light: #27272a;

  --color-primary: #7c3aed;
  --color-primary-hover: #6d28d9;

  --color-text: #ffffff;
  --color-text-secondary: #a1a1aa;

  --color-border: #3f3f46;

  --radius-sm: 10px;
  --radius-md: 14px;
  --radius-lg: 18px;

  --shadow-md: 0 10px 25px rgb(0 0 0 / 20%);
}
